/* pages/find/index.wxss */

.find-class{height: 84rpx; box-sizing: border-box; padding: 0 26rpx;box-shadow: 0 4px 20px 0 rgba(216,216,216,0.50);white-space: nowrap}
.class-item{font-size: 28rpx;display: inline-block; color: #000;opacity: .4; height: 84rpx;line-height: 84rpx;}
.class-item+.class-item{padding-left: 60rpx}

.class-active{opacity: 1}