/**app.wxss**/
/* .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}  */

pages {
  position: relative;
  z-index: 9999998;
  background: #fff;
}
.navX{padding-bottom: 34px}
.tips{font-size: 22rpx;color: #999;text-align: center;padding-bottom: 20rpx}