<!--pages/post/index.wxml-->
<qw-nav-bar isBack="{{true}}" hasShadow="{{false}}" title="发布经历" ></qw-nav-bar>

<qw-login></qw-login>

<view class='home-page' style='margin-top: {{44 + height}}px'>
  <view class='post-tips'>
    <text bindtap='_back' class="post-tips-cancle">取消</text>
    <text class='post-tips-up' bindtap='_up'>发布</text>
  </view>
  
  <!-- 图片选择 -->
  <view class='post-pic'>
    <view class='post-pic-item' wx:key="{{index}}" wx:for="{{requestData.imgUrl}}">
      <image src='{{item.url}}' mode='aspectFill'></image>
      <image class='post-pic-itemCancel' data-ind="{{index}}" bindtap='_removeImage' src='/icon/index/cancel.png'></image>
    </view>
    <view bindtap='_chooseImage' class='post-pic-item'>
      <image src='/icon/index/more.png'></image>
    </view>
  </view>

  <!-- 标题 -->
  <input class='post-title' bindinput='_inputTitle' value='{{requestData.title}}' placeholder='加个标题（最多30字）' maxlength='30'></input>

  <view class='post-select-category'>
    <picker bindchange="bindPickerChange" value="{{requestData.categoryId}}" range="{{array}}">
      <view class="picker">
        <text wx:if="{{index==null}}">选择标签 > </text> 
        <text wx:if="{{index!=null}}"> {{array[index]}}</text>
      </view>
    </picker>
  </view>

  <textarea class='post-content' bindinput='_inputContent' value='{{requestData.content}}'  placeholder='分享你的经历' maxlength='1000'></textarea>
  

  


</view>

