/* components/navbar/navbar.wxss */
.nav-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  color: #000;
  z-index: 9999999;
  

}

.nav-shadow{
  box-shadow: 0 4rpx 20rpx 0 rgba(216,216,216,0.50);
}
/* 标题要居中 */
.nav-title {
  position: absolute;
  text-align: center;
  max-width: 400rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 36rpx;
  color: #000;
  font-weight: 500;
}

.nav-capsule {
  display: flex;
  align-items: center;
  margin-left: 30rpx;
  width: 140rpx;
  justify-content: space-between;
  height: 100%;
}

.navbar-v-line {
  width: 1px;
  height: 32rpx;
  background-color: #e5e5e5;
}

.back-pre, .back-home {
  width: 40rpx;
   height: 40rpx;
  margin-top: 12rpx;
  padding:23rpx;
}
.nav-capsule .back-home {
  width: 40rpx;
  height: 40rpx;
  margin-top: 12rpx;
  padding:23rpx;
}






.nav-left-content{border: 1rpx solid  rgba(0,0,0,0.08);width: 174rpx;height: 64rpx;border-radius: 32rpx;}
.nav-back-src{width: 45rpx;height: 45rpx}






.nav-find-content{width: 500rpx;height: 32px;background: #eee;font-size: 30rpx;color: #999;
border-radius: 100rpx;line-height: 32px;}

.nav-find-url{width: 24px;height: 24px;margin: 4px 6px 4px 15px;vertical-align: middle}

.backUrl{width: 24px;height: 24px;}


