/* 
.case-page{
  padding: 30rpx 20rpx;

}

.list-masonry{

  column-count: 2;

  column-gap: 20rpx;

}

.item-masonry{
  font-size: 0;
  background-color: #fff;
  break-inside: avoid;
  box-sizing: border-box; 
  margin-bottom:20rpx;
  box-shadow: 0 5rpx 20rpx 0 rgba(50,51,94,0.18);
  border-radius: 20rpx;

}

.item-masonry image {
  width: 100%;
  border-radius: 20rpx 20rpx 0 0 
}

.pu-content{padding: 20rpx}
.cot-title{text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: 28rpx;color: #000;font-weight: 500;
  line-clamp: 2;
  -webkit-box-orient: vertical;} */




.fall-container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 20rpx
}

.fall-left {
  display: flex;
  flex-direction: column;
  width: 345rpx

}

.fall-right {
  display: flex;
  width: 345rpx;
  flex-direction: column;
  margin-left: 20rpx;
}
.fall-box{box-shadow: 0 5rpx 20rpx 0 rgba(50,51,94,0.18);font-size: 0;
border-radius: 20rpx;margin-bottom: 20rpx}
.list-url{width: 100%;height: 100%;border-radius: 20rpx 20rpx 0 0}
.fall-title{font-size: 26rpx;margin: 20rpx;font-weight: 500;
overflow:hidden; 
text-overflow:ellipsis;display:-webkit-box; 
-webkit-box-orient:vertical;
-webkit-line-clamp:1; 
}



.fall-user{font-size: 22rpx;padding: 10rpx 20rpx 30rpx 20rpx;position: relative}
.lick-num-url{width: 24rpx;vertical-align: middle;height: 24rpx;}
.lick-num{font-size: 20rpx;color: #000;}
.user-img-url{width: 60rpx;height: 60rpx;border-radius: 50%;position: absolute;right: 20rpx;bottom: 30rpx}